body {
    background-color: black;
    text-align: center;
}


#title {
    text-align: center;
    font-size: 70px;
    color:#00ff00;
}

#subtitle {
    font-size: 40px;

}


.normal {
    color: #00ff00;
    font-size: 40px;
}
.article {
    height: 50px;
    width: 100px;
    background-color: #33ccff;
    color: black;
  }
