body {
    background-color: black;
    text-align: center;
}


#title {
    text-align: center;
    font-size: 70px;
    color:#00ff00;
}

#subtitle {
    font-size: 40px;
    color: #00ff00;
}


.normal {
    color: #00ff00;
    font-size: 40px;
}
.article {
    height: 90px;
    margin: auto;
    border-radius: 10px;
    width: 200px;
    background-color: #33ccff;
    color: black;
  }


.articlename {
    position: relative;
    text-align: center;
}